<div class="row">
    <div class="col-sm-3"/>
    <div class="col-sm-6">
      <div class="h3 text-center">Личные кабинеты учащихся УНОИ</div>
      <div class="text-center">Если Вы уже зарегистрированы, то ...</div>
    </div>
    <div class="col-sm-3"/>
    
    {{сообщение}}
    
    <div class="col-sm-3"/>
    <div class="col-sm-6">
      <form class="card shadow rounded p-4 m-4" id="login">
        <a class="btn btn-info" href = "{{oauthEndpoint}}">Войти через titul24</a>
      </form>
      <div><iframe src="https://portal.titul24.ru/wp-login.php?action=register" height="300px" width="400px"></iframe></div>
    </div>
    <div class="col-sm-3"></div>
</div>