<div class="row">
    <div class="col-sm-3"/>
    <div class="col-sm-6">
        <div class="text-center">или зарегистрируйтесь...</div>
        <form class="card shadow rounded p-4 m-4" id="registration" role="form" data-toggle="validator">
            <div class="form-group">
                <label for="">Регистрация</label>
                <input type="email" name="https://schema.org/email" id="email" class="form-control" placeholder="user@example.com" aria-describedby="helpId" data-error="Укажите свою электронную почту в формате user@example.com"  required="yes"/>
                <small id="helpId" class="text-muted">Электронная почта</small>
                <!-- Error -->
                <div class="help-block with-errors"></div>
            </div>
            
            <div class="form-group">
              <div class="form-check-inline">
                <label class="form-check-label" for="confirm-yes">
                  <input type="radio" class="form-check-input" id="confirm-yes" name="confirm" data-error="Для регистрации необходимо Ваше согласие на обработку персональных данных" value="yes" required="yes"/>Да - Ваше согласие на обработку персональных данных
                </label>
              </div>
              <!-- Error -->
              <div class="help-block with-errors"></div>
            </div>
                        
            <input type="text" name="redirect" value = "{{redirect}}" style = "display: none"/>
            <button class="btn btn-info" form="registration" type="submit" formmethod="POST" enctype = "multipart/form-data" formaction= "/unoi/do/api/v01/p/user">Зарегистрироваться</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>