<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form class="card shadow rounded p-4 m-4" id="registration">
            <div class="form-group">
                <label for="">Регистрация</label>
                <input type="text" name="https://schema.org/email" id="" class="form-control" placeholder="user@example.com" aria-describedby="helpId"/>
                <small id="helpId" class="text-muted">Электронная почта</small>
            </div>
            
            <!--  
            <div class="form-group">
                <label for="">Фамилия</label>
                <input type="text" name="https://schema.org/familyName" id="" class="form-control" placeholder="Фамилия" aria-describedby="helpId"/>
                <small id="helpId" class="text-muted">Фамилия</small>
            </div>
            <div class="form-group">
                <label for="">Имя</label>
                <input type="text" name="https://schema.org/givenName" id="" class="form-control" placeholder="Имя" aria-describedby="helpId"/>
                <small id="helpId" class="text-muted">Имя</small>
            </div>
            <div class="form-group">
                <label for="">Телефон</label>
                <input type="text" name="https://schema.org/telephone" id="" class="form-control" placeholder="+79908886699" aria-describedby="helpId"/>
                <small id="helpId" class="text-muted">Телефон</small>
            </div>
            -->
            
            <div class="form-group">
                <label for="">Пароль</label>
                <input type="password" name="password" id="" class="form-control" placeholder="password" aria-describedby="helpId"/>
                <small id="helpId" class="text-muted">Введите пароль</small>
            </div>
            <div class="form-group">
                <label for="">Повторите пароль</label>
                <input type="password" name="password-2" id="" class="form-control" placeholder="password" aria-describedby="helpId"/>
                <small id="helpId" class="text-muted">Повторите пароль</small>
            </div>
            <input type="text" name="redirect" value = "{{redirect}}" style = "display: none"/>
            <button class="btn btn-info" form="registration" type="submit" formmethod="POST" enctype = "multipart/form-data" formaction= "/unoi/do/api/v01/p/user">Зарегистрироваться</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>