<div class="form-inline mt-2 mt-md-0">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Личный кабинет</a>
                <a class="dropdown-item" href="/unoi/do/api/v01/logout">Выход</a>
            </div>
        </li>
    </ul>
    <div class="text-muted mr-1">{{userLabel}}</div>
    <img class="d-none d-lg-block rounded"  style=" height: 70px;" src="{{userAvatarURL}}"/>
</div>