<div class="card rounded shadow p-2 m-2">
  <div class="row">
    <div class="col-3">{{названиеДокумента}}</div>
    <div class="col-3">
      <label class="btn btn-info">Выбрать файл<input type="file" hidden="yes" form="{{идентификаторФормы}}"/></label>
    </div>
    <div class="col-2">
      <input class="btn btn-info" type="submit" value="Сохранить" form="{{идентификаторФормы}}"/>
    </div>
    <div class="col-2"><a class="btn btn-primary" href="/unoi/do/api/v01/file/{{идентификаторФайла}}">Скачать</a></div>
    <div class="col-2"><a class="btn btn-danger" href="#">Удалить</a></div>
  </div>
  <form id="{{идентификаторФормы}}" formmethod="POST" formaction="/unoi/do/api/v01/data" formenctype="multipart/form-data"/>
</div>