<div class="card rounded shadow p-2 m-2">
  <div class="row">
    <div class="col-3">{{названиеДокумента}}</div>
    <div class="col-3">
      <label class="btn btn-info">Выбрать файл<input type="file" hidden="yes" name="{{имяПоляФайла}}" form="{{идентификаторФормы}}"/></label>
    </div>
    <div class="col-2">
      <input class="btn btn-info" type="submit" value="Сохранить" form="{{идентификаторФормы}}" formmethod="POST" formaction="/unoi/do/api/v01/data" formenctype="multipart/form-data"/>
    </div>
    <div class="col-2"><a class="btn btn-primary" href="/unoi/do/api/v01/file/{{идентификаторФайла}}">Скачать</a></div>
    <div class="col-2"><a class="btn btn-danger" href="#">Удалить</a></div>
  </div>
  <form id="{{идентификаторФормы}}"/>
  
  <input form="{{идентификаторФормы}}" type="hidden" name="_t24_type" value="{{aboutType}}"></input>
  <input form="{{идентификаторФормы}}" type="hidden" name="_t24_templateID" value="{{templateID}}"/>
  <input form="{{идентификаторФормы}}" type="hidden" name="_t24_id" value="{{containerID}}"></input>
  <input form="{{идентификаторФормы}}" type="hidden" name="_t24_saveRedirect" value="{{saveRedirect}}"/>
  {{служебныеПоляФормы}}
</div>