<div>
  <div class = "h2">Добро пожаловать в личный кабинет педагога!</div>
  <div>Здесь Вы можете:
    <lu>
      <li>заполнить свои <a href = "/unoi/do/u/cabinet">персональная данные</a></li>
      
      <!-- 
      <li>посмотреть <a href = "/unoi/do/u/courses">список заявок и текущих курсов</a></li>
      <li><a href = "/unoi/отчеты/календарный-план">выбрать</a> курс повышения квалификации</li>
      <li>познакомиться с курсом<a href = "http://sdo.iro37.ru/" target = "_blank">"Начало работы с Moodle"</a></li>
       -->
    </lu>
   </div>
</div>