<div>
  <div class = "h2">Добро пожаловать в личный кабинет педагога!</div>
  <div>Здесь Вы можете:
    <lu>
      <li>заполнить свои <a href = "/unoi/do/u/cabinet">персональная данные</a></li>
      
      <!-- 
      <li>посмотреть <a href = "/unoi/do/u/courses">список заявок и текущих курсов</a></li>
      <li><a href = "/unoi/отчеты/календарный-план">выбрать</a> курс повышения квалификации</li>
      <li>познакомиться с курсом<a href = "http://sdo.iro37.ru/" target = "_blank">"Начало работы с Moodle"</a></li>
       -->
    </lu>
   </div>
   <!-- начало аккордиона -->
   <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Основные сведения
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">{{основныеСведения}}</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Личные данные
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">{{личныеДанные}}</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Образование
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">{{образование}}</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Место работы
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">{{местоРаботы}}</div>
      </div>
    </div>
  </div>
   <!-- конец аккордиона -->

</div>