<div class="row">
    <div class="col-md-3 border-right border-3">
      <div class="h2 text-center">Разделы</div>
      <div>
        {{разделы}}
        <ul>Разное
          <li class="marked border-top border-3">
            <a href="#">Личные данные</a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="col-md-4 border-right border-3">
      <div class="h2 pb-3 text-center">Список курсов</div>
      <div>
        {{списокКурсов}}
        <div class="col-md-12 pt-5"><a class="btn btn-info" role="button" href="#">Записаться на курс </a></div>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="h2 pb-3 text-center">Документы курса</div>
      <div class="h4 pb-3 text-center">"Программы ФГОС 3+"</div>
      <div class="row border-bottom py-2">
        <div class="col-md-6">Заявление<br/>(<a href="#">шаблон</a>)</div>
        <div class="col-md-3"><a class="btn btn-info" role="button" href="#">Скачать</a></div>
        <div class="col-md-3"><a class="btn btn-info" role="button" href="#">Загрузить</a></div>
      </div>
      <div class="row border-bottom py-2">
        <div class="col-md-6">Договор<br/>(<a href="#">шаблон</a>)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"><a class="btn btn-info" role="button" href="#">Загрузить</a></div>
      </div>
      <div class="row border-bottom py-2">
        <div class="col-md-6">Квитанция об оплате<br/>(<a href="#">шаблон</a>)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"><a class="btn btn-info" role="button" href="#">Загрузить</a></div>
      </div>
    </div>
  </div>